Lab3_IBMCloud.json
[{"id":"9c7d9709.a13d68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b0c385bb.efc5b8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ac27c473.f4d888","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f11aa76e.d26e98","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fca12e60.9e7d7","type":"ui_group","z":"","name":"Default","tab":"f11aa76e.d26e98","disp":true,"width":"6","collapse":false},{"id":"d94e6ffa.4d207","type":"ibmiot in","z":"9c7d9709.a13d68","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb080027176354","applicationId":"","deviceType":"senseHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":360,"y":180,"wires":[["2d690dac.1467b2"]]},{"id":"2d690dac.1467b2","type":"debug","z":"9c7d9709.a13d68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":180,"wires":[]},{"id":"b97107af.af76d8","type":"ibmiot out","z":"9c7d9709.a13d68","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027176354","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{ }","qos":0,"name":"IBM IoT","service":"registered","x":940,"y":340,"wires":[]},{"id":"6267a20a.91ebac","type":"inject","z":"9c7d9709.a13d68","name":"","topic":"","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["5d259756.ecddc8"]]},{"id":"94674fca.490a2","type":"inject","z":"9c7d9709.a13d68","name":"","topic":"","payload":"Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":380,"wires":[["5d259756.ecddc8"]]},{"id":"5d259756.ecddc8","type":"function","z":"9c7d9709.a13d68","name":"Format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["33aa82e5.16672e"]]},{"id":"33aa82e5.16672e","type":"json","z":"9c7d9709.a13d68","name":"","property":"payload","action":"","pretty":false,"x":750,"y":340,"wires":[["b97107af.af76d8"]]},{"id":"d4073e6f.e53fb","type":"ui_gauge","z":"b0c385bb.efc5b8","name":"Temperature","group":"fca12e60.9e7d7","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#0080ff","#06e401","#ca3838"],"seg1":"","seg2":"","x":890,"y":240,"wires":[]},{"id":"5945f524.48342c","type":"ui_gauge","z":"b0c385bb.efc5b8","name":"Humidity","group":"fca12e60.9e7d7","order":2,"width":0,"height":0,"gtype":"gage","title":"Humid","label":"units","format":"{{value}}","min":0,"max":"99","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":300,"wires":[]},{"id":"ea7a255f.7146f8","type":"ui_gauge","z":"b0c385bb.efc5b8","name":"Pressure","group":"fca12e60.9e7d7","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":360,"wires":[]},{"id":"16a65606.53998a","type":"function","z":"b0c385bb.efc5b8","name":"Temperature","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["d4073e6f.e53fb"]]},{"id":"152941fc.b6e0be","type":"function","z":"b0c385bb.efc5b8","name":"Humidity","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["5945f524.48342c"]]},{"id":"f6be6bea.6c3d38","type":"function","z":"b0c385bb.efc5b8","name":"Pressure","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["ea7a255f.7146f8"]]},{"id":"44089d04.3c7ea4","type":"ibmiot in","z":"b0c385bb.efc5b8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb080027176354","applicationId":"","deviceType":"senseHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":350,"y":240,"wires":[["16a65606.53998a","152941fc.b6e0be","f6be6bea.6c3d38","13000dfe.b9cef2"]]},{"id":"768c6878.aa1cc8","type":"ui_button","z":"b0c385bb.efc5b8","name":"","group":"fca12e60.9e7d7","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":638,"y":502,"wires":[[]]},{"id":"13000dfe.b9cef2","type":"debug","z":"b0c385bb.efc5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":160,"wires":[]}]